.homepage {
   
   min-height: 200px;
}

.card {
    width: 300px;
   
    margin: 20px;
    text-align: center;
    
}

.cardMedia {
    height: 300px;
}

.paginationBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;

}

.pagination {
    display: inline-block;
}

.MuiPagination-ul  {
    justify-content: center !important;
}

.gridContainer {
    min-height: 1000px;
    margin-top: 50px;
}

.animalIcon {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1000px) {
    .gridContainer {
        margin-top: 100px;
    }
}