.card {
    width: 300px;
   
    margin: 20px;
    text-align: center;
}

.cardMedia {
    height: 300px;
}

.gridContainer {
    min-height: 1000px;
    margin-top: 50px;
}


@media screen and (max-width: 1000px) {
    .gridContainer {
        margin-top: 100px;
    }
}